<footer class="container-fluid bg-light p-3">
	<div class="row footer-row1">

		<div class="col-md-4 footer-col1 text-center">
			<div class="d-inline-block footer-c1">
				<p>4iRad-Logo</p>
			</div>
		</div>

		<div class="col-md-4 footer-col2 text-center">
			<div class="d-inline-block footer-c2">
				<div class="d-inline-block text-left">
					<p>Strandvägen 143</p>
					<p>Telefon: 08-1337 4242</p>
					<p>Grupp4@4irad.com</p>
				</div>
			</div>
		</div>

		<div class="col-md-4 footer-col3 text-center">
			<div class="d-inline-block footer-c3">
				<p>© 2018 grupp 4, MIT licensed</p>
			</div>
		</div>

	</div>
</footer>