<footer class="container-fluid">
	<div class="row footer-row1">

		<div class="col-md-4 footer-col1 text-center">
			<div class="d-inline-block">
				<div class="fas fa-map-marker-alt"></div>
				<p class="p-footer">Nordenskiöldsgatan 13</p>
			</div>
		</div>

		<div class="col-md-4 footer-col2 text-center">
			<div class="d-inline-block">
				<div class="fas fa-phone"></div>
				<p class="p-footer">077-165 06 50</p>
			</div>
		</div>
		
		<div class="col-md-4 footer-col3 text-center">
			<div class="d-inline-block">
				<div class="fas fa-envelope"></div>
				<p class="p-footer-e">Grupp4@4irad.se</p>
			</div>
		</div>

	</div>
</footer>