<footer class="footer p-3">
	<div class="row footer-row">

		<div class="col-sm-4 text-sm-center">
			<div class="d-inline-block footer-info">
				<p><i class="fas fa-map-marker-alt"></i></p>
				<p>Strandvägen 143</p>
			</div>
		</div>

		<div class="col-sm-4 text-sm-center">
			<div class="d-inline-block footer-info">
				<p><i class="fas fa-at"></i></p>
				<p>grupp4@4irad.com</p>
			</div>
		</div>

		<div class="col-sm-4 text-sm-center">
			<div class="d-inline-block footer-info">
				<p><i class="fas fa-phone"></i></p>
				<p>08-1337 4242</p>
			</div>
		</div>

	</div>
</footer>