<div class="game-content">
  <div class="row">
    <div class="col-0 col-sm-3 pr-0"></div>
    <div class="col-10 col-sm-6 px-0 pl-3 pl-sm-0">
      <div class="game-clone">
        <div class="game-board">
          ${this.columns}

          <div class="row player-names">
            <div class="col-5">
              <div class="player-one">${this.players[0].name} ${this.turnIndex === 0 ? `
                <span class="color-box ${this.players[0].color}"></span>
                ` : ``}
              </div>
            </div>
            <div class="col-2">
              <p class="versus">VS.</p>
            </div>
            <div class="col-5">
              <div class="player-two">${this.players[1].name} ${this.turnIndex === 1 ? `
                <span class="color-box ${this.players[1].color}"></span>
                ` : ``}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 col-sm-3 pl-0 game-buttons-col">
      <div class="game-buttons">
        <div class="row game-button">
          <div class="col restart"><i class="fas fa-redo"></i></div>
        </div>
        <div class="row game-button">
          <a class="col cancel" href="/spela"><i class="far fa-times-circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>