<div class="game-content">
  <div class="row">
    <div class="col-0 col-lg-3 pr-0"></div>
    <div class="col-10 col-lg-6 px-0 pl-3 pl-sm-0">
      <div class="game-board">
        ${this.columns}
        <div class="row">
          <div class="col-5">
            <div class="player-one">Trump
              <span class="color-box red"></span>
            </div>
          </div>
          <div class="col-2">
            <p class="versus">VS.</p>
          </div>
          <div class="col-5">
            <div class="player-two">Putin
              <span class="color-box yellow"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 col-lg-3 pl-0 game-buttons-col">
      <div class="game-buttons">
        <div class="row game-button">
          <div class="col"><i class="fas fa-redo"></i></div>
        </div>
        <div class="row game-button">
          <div class="col"><i class="far fa-times-circle"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>