<div class="col-lg-6 mb-4">
  <div class="card">
    <div class="card-header player-name-heading">
      <strong>Spelare ${this.playerNr}</strong>
    </div>
    <div class="card-body player-input">
      <div class="mb-3">
        ${this.playerType[0] === '💻 Dator' ? `
        <input type="text" class="form-control player player-name" placeholder="Namn (2-10 tecken)" value="${this.playerName}"
          aria-label="Namn" disabled>
        ` : `
        <input type="text" class="form-control player player-name" placeholder="Namn (2-10 tecken)" value="${this.playerName}"
          aria-label="Namn" autofocus>
        `}
      </div>
      <div class="input-group">
        <div class="dropdown input-group-prepend">
          <button class="btn dropdown-toggle choose-player-type" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            ${this.playerType[0]}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item player-type py-2" href="#">👨 Människa</a>
            <a class="dropdown-item player-type py-2" href="#">💻 Dator</a>
          </div>
        </div>
        <div class="dropdown input-group-append">
          <button class="btn dropdown-toggle choose-color" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            ${this.chosenColor[0]}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- Important! If you want to add more classes to the <a>-tags below, do it after the existing ones -->
            <a class="dropdown-item color-name select-yellow py-2" href="#"><span class="color-box yellow"></span>Brun</a>
            <a class="dropdown-item color-name select-red py-2" href="#"><span class="color-box red"></span>Röd</a>
            <a class="dropdown-item color-name select-green py-2" href="#"><span class="color-box green"></span>Grön</a>
            <a class="dropdown-item color-name select-purple py-2" href="#"><span class="color-box purple"></span>Lila</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>