<div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="/img/boardgame.png" alt="Card image cap">
          <h2 class="card-title">Kort historisk</h2>
          <p class="card-text">
            Just nu läser du inledningen till en kortare text som är tänkt att ge en kort historielektion om spelet.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 mt-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Hur spelar man?</h2>
          <p class="card-text">
            <ul>
              <li>
                Inled med att välja någon av de två färger som spelbrickorna har.
              </li>
              <li>
                Därefter stoppa första spelbricka i valfri kolumn på spelbrädet.
              </li>
              <li>
                Spelarna turas om att placera en spelbricka per drag. Det gäller att
                sättande en vinnande rad och samtidigt hindra motståndaren från att vinna.
              </li>
              <li>
                Första spelaren med fyra spelbrickor horisonalt, vertikalt eller diagonalt
                har vunnit.
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <img class="card-img-top mt-3" src="/img/fyrairad-regler.jpg" alt="Card image cap">
    </div>
  </div>
</div>