<div class="container rules-page">
  <div class="row">
    <h1 class="col-12 rules-header mb-4">Spelregler</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-md-12">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="/img/boardgameversion2.png" alt="Card image cap">
          <h2 class="card-title mt-3">Kort historik</h2>
          <p class="card-text">
            <p>
              Det är finns ingen säkerhetsställd dokumentation på när det första 4-i-rad-spelet kom till. Dock finns
              påståenden om
              att spelet fanns på Captain Cooks tid, 1700-talet. Det påstods att Captain Cook
              spenderade så mycket tid med att spela spelet att det slutligen döptes till Captain’s Mistress (Kaptenens
              älskarinna). Denna historia har ifrågasatts och bör tas med en nypa salt.</p>
            <p>
              Företaget Milton Bradley (nu Hasbro) förde spelet till marknaden 1974 och blev direkt en dundersuccé.
              Men,
              spelet har funnits långt innan dess. Det finns nämligen bilder som påminner om dagens
              spel i en bok skriven av Robbie Bell (tidigt 1900-tal). Spelet kallades för "Four Balls" (fyra
              bollar) där själva brädet var tillverkat i mahogny-trä med runda bollar som spelpjäser.
            </p>
            <p>
              Dagens fyra i rad har i mångt och mycket ersatts med plastmaterial för att minska på
              tillverkningskostnaderna.
              Likt många andra brädspel har även detta spel sökt sig till den digitala världen.
            </p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 col-md-6 mt-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Hur spelar man?</h2>
          <p class="card-text">
            <ul>
              <li>
                Inled med att välja någon av de färger som spelbrickorna har.
              </li>
              <li>
                Därefter stoppa första spelbricka i valfri kolumn på spelbrädet.
              </li>
              <li>
                Spelarna turas om att placera en spelbricka per drag. Det gäller att
                sättande en vinnande rad och samtidigt hindra motståndaren från att vinna.
              </li>
              <li>
                Första spelaren med fyra spelbrickor horisonalt, vertikalt eller diagonalt
                har vunnit.

              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 col-md-6">
      <img class="card-img-top mt-3" src="/img/possible-wins.png" alt="Card image cap">
    </div>
  </div>
</div>