<div class="container start-page">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title-main">Välkommen<br> till<br> 4-i-Rad</h2>
          
          
        </div>
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="/img/game_bord_final.png" alt="Card image cap">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Här är det lite text och alldeles strax kommer du trycka på "Starta spelet" och börja lira</p>
            <a href="/spela" class="btn  link-btn">Starta Spelet</a>
          </div>
        </div>
      </div>
  <div class="row mt-3">
    <div class="col-md-4 mb-3 ">
      <div class="card text-center">
        <img class="card-img-top" src="/img/1v_4_connect.gif" alt="Card image cap">
        <div class="card-body px-2">
          <h5 class="card-title text-center">4-i-Rad</h5>
          <p class="card-text">Länk till annat spel</p>
          <a href="https://www.casualarena.com/connect-4" target="_blank" class="btn  link-btn">Ta mig dit!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3 ">
      <div class="card text-center">
        <img class="card-img-top" src="/img/2v_4_connect.gif" alt="Card image cap">
        <div class="card-body px-2">
          <h5 class="card-title text-center">4-i-Rad</h5>
          <p class="card-text">Länk till annat spel</p>
          <a href="http://www.twoplayer-game.com/play/119_connect-4.html" target="_blank" class="btn  link-btn">Ta mig dit!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card text-center">
        <img class="card-img-top" src="/img/3v_4_connect.gif" alt="Card image cap">
        <div class="card-body px-2">
          <h5 class="card-title text-center">4-i-Rad</h5>
          <p class="card-text">Länk till annat spel</p>
          <a href="http://www.forecastgamingstudios.com/logic_game/" target="_blank" class="btn  link-btn">Ta mig dit!</a>
        </div>
      </div>
    </div>
  </div>
</div>
