<section class="container start-page">
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Välkommen till 4 a Row</h2>
            <p class="card-text">Här är det lite text för att du strax ska trycka på "Starta spelet" och börja lira</p>
            <a href="#" class="btn btn-primary">Starta Spelet</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
        <img class="card-img-top" src="/img/connect-4.png" alt="Card image cap">
      </div>
    </div>
  </section>