<div class="container start-page">
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Välkommen till 4 a Row</h2>
            <p class="card-text">Här är det lite text för att du strax ska trycka på "Starta spelet" och börja lira</p>
            <a href="#" class="btn btn-primary">Starta Spelet</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src="/img/connect-4.png" alt="Card image cap">
        </div>
      </div>
    </div>
    <div class="row mt-3">
  <div class="col-4 xl-4 mb-5">
    <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body px-2">
            <h5 class="card-title">4 in a row</h5>
            <p class="card-text">1 example of 4 in a row</p>
            <a href="https://www.casualarena.com/connect-4" class="btn btn-primary">Link</a>
          </div>
    </div>
  </div>
  <div class="col-4 xl-4 mb-5">
      <div class="card">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body px-2">
          <h5 class="card-title">4 in a row</h5>
          <p class="card-text">2 example of 4 in a row</p>
          <a href="http://www.twoplayer-game.com/play/119_connect-4.html" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-4 xl-4 mb-5">
        <div class="card">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body px-2">
                <h5 class="card-title">4 in a row</h5>
                <p class="card-text">3 example of 4 in a row</p>
                <a href="http://www.forecastgamingstudios.com/logic_game/" class="btn btn-primary">Link</a>
              </div>
        </div>
      </div>
  
  
    </div>
  </div>