
@media (max-width: 992px) { 
  .footer-row1 .d-inline-block{
    width: 215.2px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .footer-c1 {
    width: 215.2px;
    text-align: left;
  }
  .footer-c2 {
    width: 215.2px;
    text-align: left;
  }
  .footer-c3 {
    width: 215.2px;
    text-align: left;
  }
}