body{

  background-image: url("/img/bg.jpg");
  background-size: cover;
}

body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
 }

 header{

   background-color: rgba(245, 245, 245, 0.4);
 }
 
 main {
  flex: 1;
 }

 footer{

   background-color: rgba(245, 245, 245, 0.4);  
 }


