body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('/img/background1.png');
  background-size: cover;
  background-repeat: no-repeat;
 }
 
 main {
  flex: 1;
 }
 
