body {
  background-image: url('/img/background-image.png');
}

body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('/img/background1.png');
 }
 
 main {
  flex: 1;
 }
 
.card{

  background-color: rgba(255,255,255,0.5);
}
