.highscore-header {
 font-family: "TangoBT";
 font-size: 70px;
 color: rgb(250, 232, 171);
 text-align: center;
}
.high-score{
  .highscore-list tr{
    &:nth-child(1){
      background-color: rgb(255, 238, 0);
      font-weight: bold;
      font-size: 1.5rem;
    }
    &:nth-child(2){
      background-color:#C0C0C0;
      font-weight: bold;
      font-size: 1.3rem;
    }
    &:nth-child(3){
      background-color:#f3902c;
      font-weight: bold;
    }
  }
}
