.winning-board{
  position: relative;
  .ghost-board{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .player-names {
    display: none;
  }

}

.middleHeader{

  font-family: "TangoBT";
  font-size: 50px;
  color: rgb(250, 232, 171);
  }

  a:hover{
    text-decoration: none;
  }

  .btn{
    a{

      color: white;
    }
  }
