#player-1-text, #player-2-text{
  color: rgb(255, 0, 0);
  margin-top: 4px;
  margin-left: 0.5em;
  display: none;
}

#player-type {
  color: rgb(255, 0, 0);
  margin-top: 4px;
  margin-left: 0.5em;
  display: none;
} 

#player-color {
  color: rgb(255, 0, 0);
  margin-top: 4px;
  display: none;
  margin-left: 145px;
}

