.rules-header{
  text-align: center;
  padding: 20px;
}
// .line {
//   padding-top:20px;
//   white-space:no-wrap;
//   overflow:hidden;
//   text-align:center;
// }

.rules-header {
  font-family: "TangoBT";
  font-size: 70px;
  color: rgb(250, 232, 171);
}
